<div class="myCourse addNewCourse addNewBook">
			<div class="panel">
				<div class="input_group"><label for="">书名：</label><input type="text"></div>
				<div class="input_group"><label for="">上传图片：</label><i ngf-select ng-model="file" name="file" ngf-pattern="'image/*" accept="image/*" ngf-max-size="20MB" ngf-min-height="100"></i></div>
				<div class="input_group"><label for="">作者：</label><input type="text"></div>
				<div class="input_group"><label for="">出版社：</label><input type="text"></div>
				<div class="input_group"><label for="">购买链接：</label><input type="text"></div>
				<div class="input_group"><label for="">内容介绍：</label><textarea name="" id="" cols="30" rows="10"></textarea></div>
				
			</div>
			<p><button><a href="#/myBook">保存</a></button></p>
		</div>