<div class="myCourse addNewCourse">
			<div class="panel ">
				<div class="input_group"><label for="">课程名称：</label><input type="text"></div>
				<div class="input_group"><label for="">上传图片：</label><i ngf-select ng-model="file" name="file" ngf-pattern="'image/*" accept="image/*" ngf-max-size="20MB" ngf-min-height="100"></i></div>
				<div class="input_group"><label for="">开课日期：</label><input type="text"><span>-</span><input type="text"></div>
				<div class="input_group"><label for="">上课时间：</label><input type="text"></div>
				<div class="input_group"><label for="">限制人数：</label><input type="text">人</div>
				<div class="input_group"><label for="">报名截止日期：</label><input type="text"></div>
				<div class="input_group"><label for="">课程周期：</label><input type="text"></div>
				<div class="input_group"><label for="">联系方式：</label><input type="text"></div>
				<div class="input_group"><label for="">上课时间：</label><input type="text"></div>
				<div class="input_group"><label for="">课程价格：</label><input type="text"></div>
				<div class="input_group addNewBook"><label for="">内容介绍：</label><textarea name="" id="" cols="30" rows="10"></textarea></div>
			</div>
			<p><button><a href="#/myCourse">保存</a></button></p>
		</div>