<div class="reply msgReplay">
			<div class="question">
				<div>
					<dl>
						<dd><img src="images/teacher_img1.png" alt="头像"></dd>
						<dt>涨涨涨</dt>
					</dl>
					<ul>
						<li><p>为什么孩子会叛逆？</p></li>
						<li>我的孩子最近这几天老是不听话，感觉变得很叛逆，请问老师要怎么办？</li>
					</ul>
				</div>
				<div class="dialogue ">
					<ul>
						<li><span>刘老师</span>：你的孩子可能到了叛逆期，你需要多关注</li>
						<li><span>涨涨涨</span>：你的孩子可能到了叛逆期，你需要多关注</li>
						<li><span>刘老师</span>：你的孩子可能到了叛逆期，你需要多关注</li>
						<li><span>涨涨涨</span>：你的孩子可能到了叛逆期，你需要多关注</li>
						<li><span>刘老师</span>：你的孩子可能到了叛逆期，你需要多关注</li>
					</ul>
				</div>
				
			</div>
			
		</div>