<div class="myCourse">
			<div class="panel"><button><a href="#/addNewCourse"><i></i>添加课程</button></a></div>
			<div class="myCourseMain">
				<div class="panel">
					<dl>
						<dd><div></div></dd>
						<dt>
							<ul>
								<li>课程描述:五月天的奇幻漂流</li>
								<li>开课日期:2017.09.10-2017.10.10</li>
								<li>上课时间:</li>
								<li>限制人数:人</li>
								<li>报名截至日期:2017.09.10</li>
								<li>课程周期:</li>
								<li>联系方式:</li>
								<li>课程价格:/元</li>
								<li>课程描述:这个课程由著名心理学老师授课，含金量特别高，解答培养孩子过程中遇到的种种问题</li>
								<li>状态:<span class="willDo">未开始</span></li>
								<li>
									<p>已报名人数:已报名23人</p>
									<div>
										<p>涨涨涨 电话:13333333333333</p>
										<p>涨涨涨 电话:13333333333333</p>
									</div>
								</li>
							</ul>
						</dt>
					</dl>
				</div>
				<div class="panel">
					<dl>
						<dd><div></div></dd>
						<dt>
							<ul>
								<li>课程描述:五月天的奇幻漂流</li>
								<li>开课日期:2017.09.10-2017.10.10</li>
								<li>上课时间:</li>
								<li>限制人数:人</li>
								<li>报名截至日期:2017.09.10</li>
								<li>课程周期:</li>
								<li>联系方式:</li>
								<li>课程价格:/元</li>
								<li>课程描述:这个课程由著名心理学老师授课，含金量特别高，解答培养孩子过程中遇到的种种问题</li>
								<li>状态:<span class="willDo">未开始</span></li>
								<li>
									<p>已报名人数:已报名23人</p>
									<div>
										<p>涨涨涨 电话:13333333333333</p>
										<p>涨涨涨 电话:13333333333333</p>
									</div>
								</li>
							</ul>
						</dt>
					</dl>
				</div>
				<div class="panel">
					<dl>
						<dd><div></div></dd>
						<dt>
							<ul>
								<li>课程描述:五月天的奇幻漂流</li>
								<li>开课日期:2017.09.10-2017.10.10</li>
								<li>上课时间:</li>
								<li>限制人数:人</li>
								<li>报名截至日期:2017.09.10</li>
								<li>课程周期:</li>
								<li>联系方式:</li>
								<li>课程价格:/元</li>
								<li>课程描述:这个课程由著名心理学老师授课，含金量特别高，解答培养孩子过程中遇到的种种问题</li>
								<li>状态:<span class="willDo">未开始</span></li>
								<li>
									<p>已报名人数:已报名23人</p>
									<div>
										<p>涨涨涨 电话:13333333333333</p>
										<p>涨涨涨 电话:13333333333333</p>
									</div>
								</li>
							</ul>
						</dt>
					</dl>
				</div>
				<div class="panel">
					<dl>
						<dd><div></div></dd>
						<dt>
							<ul>
								<li>课程描述:五月天的奇幻漂流</li>
								<li>开课日期:2017.09.10-2017.10.10</li>
								<li>上课时间:</li>
								<li>限制人数:人</li>
								<li>报名截至日期:2017.09.10</li>
								<li>课程周期:</li>
								<li>联系方式:</li>
								<li>课程价格:/元</li>
								<li>课程描述:这个课程由著名心理学老师授课，含金量特别高，解答培养孩子过程中遇到的种种问题</li>
								<li>状态:<span class="willDo">未开始</span></li>
								<li>
									<p>已报名人数:已报名23人</p>
									<div>
										<p>涨涨涨 电话:13333333333333</p>
										<p>涨涨涨 电话:13333333333333</p>
									</div>
								</li>
							</ul>
						</dt>
					</dl>
				</div>
			</div>
		</div>