<div class="myAnswer">
			<ul>
				<li class="question">
					<dl>
						<dd><img src="images/teacher_img1.png" alt="img"></dd>
						<dt>我的名字</dt>
					</dl>
					<ul>
						<li><h3>为什么我的孩子叛逆？</h3></li>
						<li class="qestionDetail">我的孩子最近这几天老是不听话，感觉变得很叛逆，请问老师要怎么办？</li>
						<li class="answerDetail">回复：因为您的孩子缺少陪伴，您应该多给他一些陪伴</li>
						<li class="time">2017-09-07 19:39:00</li>
					</ul>
					<a href="#"><img src="./images/trash.png" alt=""></a>
				</li>
				<li class="question">
					<dl>
						<dd><img src="images/teacher_img1.png" alt="img"></dd>
						<dt>我的名字</dt>
					</dl>
					<ul>
						<li><h3>为什么我的孩子叛逆？</h3></li>
						<li class="qestionDetail">我的孩子最近这几天老是不听话，感觉变得很叛逆，请问老师要怎么办？</li>
						<li class="answerDetail">回复：因为您的孩子缺少陪伴，您应该多给他一些陪伴</li>
						<li class="time">2017-09-07 19:39:00</li>
					</ul>
					<a href="#"><img src="./images/trash.png" alt=""></a>
				</li>
			</ul>
		</div>