<div class="myCourse mybook">
			<div class="panel"><button><a href="#/addNewBook"><i></i>添加书籍</button></a></div>
			<div class="myCourseMain">
				<div class="panel">
					<div></div>
					<ul>
						<li>书名：《站在孩子的高度》</li>
						<li>作者：不知道</li>
						<li>出版社：不知道</li>
						<li>电子书定价：100</li>
						<li>书籍简介：这本书巨好看无比，有意义课好了</li>
						<li>购买链接：www.comcomcocmcom</li>
					</ul>
				</div>
				<div class="panel">
					<div></div>
					<ul>
						<li>书名：《站在孩子的高度》</li>
						<li>作者：不知道</li>
						<li>出版社：不知道</li>
						<li>电子书定价：100</li>
						<li>书籍简介：这本书巨好看无比，有意义课好了这本书巨好看无比，有意义课好了这本书巨好看无比，有意义课好了</li>
						<li>购买链接：www.comcomcocmcom</li>
					</ul>
				</div>
				<div class="panel">
					<div></div>
					<ul>
						<li>书名：《站在孩子的高度》</li>
						<li>作者：不知道</li>
						<li>出版社：不知道</li>
						<li>电子书定价：100</li>
						<li>书籍简介：这本书巨好看无比，有意义课好了</li>
						<li>购买链接：www.comcomcocmcom</li>
					</ul>
				</div>
				<div class="panel">
					<div></div>
					<ul>
						<li>书名：《站在孩子的高度》</li>
						<li>作者：不知道</li>
						<li>出版社：不知道</li>
						<li>电子书定价：100</li>
						<li>书籍简介：这本书巨好看无比，有意义课好了</li>
						<li>购买链接：www.comcomcocmcom</li>
					</ul>
				</div>
			</div>
		</div>