<div class="portrait">
			<ul>
				<li><div><a href="#/teacherMsg"><img src="images/teacher_img1.png" alt=""></a></div></li>
				<li><div><a href="#/teacherMsg"><img src="images/teacher_img2.png" alt=""></a></div></li>
				<li><div><a href="#/teacherMsg"><img src="images/teacher_img3.png" alt=""></a></div></li>
				<li><div><a href="#/teacherMsg"><img src="images/teacher_img4.png" alt=""></a></div></li>
				<li><div><a href="#/teacherMsg"><img src="images/teacher_img5.png" alt=""></a></div></li>
				<li><div><a href="#/teacherMsg_edit"></a></div></li>
			</ul>
		</div>